:root {
  --color1: rgb(255 232 187);
  --color2: rgb(96 92 66);
}
body {
  background-color: rgb(235, 235, 235);
  margin: 0;
  font-family: up;
}
content {
  position: absolute;
  left: 48px;
  top: 48px;
  right: 0;
  bottom: 0;
  background-color: var(--color2);
}
header {
  height: 48px;
  width: 100%;
  background-color: var(--color1);
  margin: 0;
  text-align: center;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  font-size: 24px;
}
.title {
  font-size: 28px;
  text-align: center;
}
.sidebar {
  width: 48px;
  height: 100vh;
  background-color: var(--color1);
  margin-top: -20px;
}
.sidebar .tool {
  width: 32px;
  margin: 20px 8px;
}
.sidebar .tool .label {
  display: none;
  position: absolute;
  margin: 4px 8px;
  background-color: black;
  color: white;
  border-radius: 0 4px 4px 0;
  z-index: 10;
  font-size: larger;
  padding: 8px;
}
.sidebar .tool:hover .label {
  display: initial;
}
.sidebar .tool img {
  width: 100%;
}
.dashboard {
  display: flex;
}
.dashboard > * {
  flex: 30%;
}
.section {
  border: 1px solid black;
  margin: 48px;
  height: calc(50vh - 182px);
  padding: 32px;
  background-color: rgb(235, 235, 235);
}
@font-face {
  font-family: up;
  src: url("../fonts/upheavtt.ttf");
}
